<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Список чеков</title>
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"
			integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
			crossorigin="anonymous"></script>

	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
			integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
			crossorigin="anonymous"></script>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
		  integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.css">
</head>
<body>

<div class="container-fluid">
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<a class="navbar-brand" href="index_old.html" th:href="@{/index}">
			<img src="https://picsum.photos/30"/>
		</a>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item">
					<a class="btn btn-primary" href="/clients" th:href="@{/clients}">Список клиентов</a>
					<a class="btn btn-primary" href="/checks" th:href="@{/checks}">Список чеков</a>
				</li>
			</ul>
		</div>
	</nav>
</div>

<div class="container">
	<div class="row">
		<button class="btn btn-success addButton">Добавить</button>
	</div>
	<div class="row">
		<div class="col-12">
			<table id="checksTable" class="table table-striped table-hover">
				<thead class="thead-dark">
				<tr>
					<th>id</th>
					<th>Номер</th>
					<th>Время регистрации</th>
					<th>Номер магазина</th>
					<th>Итоговая цена</th>
					<th>Статус</th>
					<th>Список товаров</th>

					<th></th>
					<th></th>
				</tr>
				</thead>
				<tbody>
				<tr th:each="check : ${checks}">
					<td th:text="${check.id}" hidden></td>
					<td th:text="${check.number}"></td>
					<td th:text="${#temporals.format(check.registrationTime, 'HH:mm:ss dd.MM.yyyy')}"></td>
					<td th:text="${check.shopNumber}"></td>
					<td th:text="${check.totalPrice}"></td>
					<td th:text="${check.status}"></td>
					<td><a href="" class="btn btn-info">Список товаров</a></td>
					<td>
						<a class="btn btn-primary editButton" th:href="@{/checks/find/(id=${check.id})}">Изменить</a>
					</td>
					<td>
						<a class="btn btn-danger deleteButton"
						   th:href="@{/checks/delete/(id=${check.id})}">Удалить</a>
					</td>
				</tr>
				</tbody>
			</table>
		</div>
	</div>

	<!-- Диалог сохранения/изменения клиента -->
	<div class="saveDialog">
		<form th:action="@{/checks/save}" method="post">
			<div class="modal fade" id="checkDetailsModal" tabindex="-1" role="dialog"
				 aria-labelledby="checkDetailsLabel"
				 aria-hidden="true">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="checkDetailsLabel">Информация о клиенте</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">
							<div class="form-group" hidden>
								<label for="id" class="col-form-label">ID</label>
								<input id="id" name="id" value="" class="form-control" type="input" placeholder="Id">
							</div>

							<div class="form-group">
								<label for="firstName" class="col-form-label">Имя</label>
								<input id="firstName" name="firstName" value="" class="form-control" type="text"
									   placeholder="Имя">
							</div>

							<div class="form-group">
								<label for="lastName" class="col-form-label">Фамилия</label>
								<input id="lastName" name="lastName" value="" class="form-control" type="text"
									   placeholder="Фамилия">
							</div>

							<div class="form-group">
								<label for="middleName" class="col-form-label">Отчество</label>
								<input id="middleName" name="middleName" value="" class="form-control" type="text"
									   placeholder="Отчество">
							</div>

							<div class="form-group">
								<label class="col-form-label">Пол</label><br>

								<input id="male" type="radio" name="gender" value="male" checked="checked">
								<label for="male">М</label>

								<input id="female" type="radio" name="gender" value="female">
								<label for="male">Ж</label>
							</div>

							<div class="form-group">
								<label for="birthday" class="col-form-label">Дата рождения</label>
								<input id="birthday" class="form-control" name="birthday" value=""
									   type="date"/>
							</div>

							<div class="form-group">
								<label for="email" class="col-form-label">E-mail</label>
								<input id="email" name="email" value="" class="form-control" type="email"
									   placeholder="E-mail">
							</div>

							<div class="form-group">
								<label for="phone" class="col-form-label">Телефон</label>
								<input id="phone" name="phone" value="" class="form-control" type="tel"
									   placeholder="Телефон">
							</div>

							<div class="form-group">
								<label for="city" class="col-form-label">Город</label>
								<input id="city" name="city" value="" class="form-control" type="text"
									   placeholder="Город">
							</div>

							<div class="form-group">
								<label for="cardId" class="col-form-label">Id карты</label>
								<input id="cardId" name="cardId" value="" class="form-control" type="text"
									   placeholder="Id карты">
							</div>

							<div class="form-group">
								<label class="col-form-label">Статус</label><br>

								<input id="inactive" type="radio" name="status" value="" checked="checked">
								<label for="inactive">Неактивный</label>

								<input id="active" type="radio" name="status" value="">
								<label for="active">Активный</label>
							</div>
						</div>
						<div class="modal-footer">
							<input id="saveDetailsButton" class="btn btn-primary" type="submit" value="Сохранить"/>
							<button class="btn btn-secondary" type="button" data-dismiss="modal">Отмена</button>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>

	<!-- Диалог удаления клиента -->
	<div class="deleteDialog">
		<div class="modal fade" id="deleteClientModal" tabindex="-1" role="dialog"
			 aria-labelledby="deleteClientModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="deleteClientModalLabel">Удаление клиента</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						Вы действительно хотите удалить клиента?
					</div>
					<div class="modal-footer">
						<a id="deleteRef" href="" class="btn btn-danger">Удалить</a>
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script src="../static/js/checks.js" th:src="@{/js/checks.js}"></script>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	  integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
		integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
		crossorigin="anonymous"></script>
</body>
</html>