<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Список позиций</title>
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"
			integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
			crossorigin="anonymous"></script>

	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
			integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
			crossorigin="anonymous"></script>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
		  integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.css">
</head>
<body>

<div class="container-fluid">
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<a class="navbar-brand" href="index_old.html" th:href="@{/index}">
			<img src="https://picsum.photos/30"/>
		</a>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item">
					<a class="btn btn-primary" href="/clients" th:href="@{/clients}">Список клиентов</a>
					<a class="btn btn-primary" href="/checks" th:href="@{/checks}">Список чеков</a>
				</li>
			</ul>
		</div>
	</nav>
</div>

<div class="container">
	<div class="row">
		<div class="col-12">
			<h3 class="text-center" th:text="'Номер чека:  ' + ${check.number}">Номер чека</h3>
			<table id="checksTable" class="table table-striped table-hover">
				<thead class="thead-dark">
				<tr>
					<th hidden>id</th>
					<th>Номер</th>
					<th>Продукт</th>
					<th>Категория продукта</th>
					<th>Цена</th>
					<th>Количество</th>
					<th>Итоговая цена</th>

					<th></th>
					<th></th>
				</tr>
				</thead>
				<tbody>
				<tr th:each="position : ${positions}">
					<td th:text="${position.id}" hidden></td>
					<td th:text="${position.number}"></td>
					<td th:text="${position.product.name}"></td>
					<td th:text="${position.product.category.name}"></td>
					<td th:text="${position.price}"></td>
					<td th:text="${position.amount}"></td>
					<td th:text="${position.price * position.amount}"></td>

					<td>
						<a class="btn btn-primary text-light"
						   th:href="@{/checks/{checkId}/positions/{posId}/details(checkId=${position.check.id},posId=${position.id})}">
							Изменить</a>
					</td>
					<td>
						<a id="deletePosRef" class="btn btn-danger text-light"
						   th:href="@{/checks/{checkId}/positions/find(checkId=${position.check.id},posId=${position.id})}">Удалить
						</a>
					</td>
				</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>

<div id="deletePositionDialog" class="modal" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Modal title</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<p>Вы действительно хотите удалить позицию?</p>
			</div>
			<div class="modal-footer">
				<button id="applyPosDelBtn" class="btn btn-primary" type="button">Удалить</button>
				<button class="btn btn-secondary" type="button" data-dismiss="modal">Отмена</button>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="btn-bar">
		<a th:href="@{/checks}" class="btn btn-primary text-light">Назад</a>
		<a th:href="@{/checks}" class="btn btn-success text-light">Добавить</a>
	</div>
</div>

<script src="../static/js/checks.js" th:src="@{/js/checks.js}"></script>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	  integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
		integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
		crossorigin="anonymous"></script>
</body>
</html>