<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Детали позиции</title>
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"
			integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
			crossorigin="anonymous"></script>

	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
			integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
			crossorigin="anonymous"></script>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
		  integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.css">
</head>
<body>

<div class="container-fluid">
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<a class="navbar-brand" href="index_old.html" th:href="@{/index}">
			<img src="https://picsum.photos/30"/>
		</a>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item">
					<a class="btn btn-primary" href="/clients" th:href="@{/clients}">Список клиентов</a>
					<a class="btn btn-primary" href="/checks" th:href="@{/checks}">Список чеков</a>
				</li>
			</ul>
		</div>
	</nav>
</div>

<div class="container">
	<div class="row">
		<form th:action="@{/checks/{checkId}/positions/{posId}/save(checkId=${position.check.id},posId=${position.id})}"
			  th:object="${position}" method="post" role="form" data-toggle="validator" autocomplete="off">
			<div class="col-12">
				<h3 class="text-center" th:text="'Номер позиции:  ' + ${position.number}">Номер позиции</h3>

				<div class="form-group" hidden>
					<label for="id" class="col-form-label">Id</label>
					<input id="id" name="id" th:field="*{id}" class="form-control" type="text"
						   placeholder="Id">
				</div>

				<div class="form-group">
					<label for="number" class="col-form-label">Номер</label>
					<input id="number" name="number" th:field="${position.number}" class="form-control" type="text"
						   placeholder="Номер">
				</div>

				<div class="form-group">
					<label for="product" class="col-form-label">Наименование продукта</label>
					<input id="product" name="product" th:field="*{product.name}" class="form-control"
						   type="text" placeholder="Продукт" readonly>
				</div>

				<div class="form-group">
					<label for="amount" class="col-form-label">Количество</label>
					<input id="amount" name="amount" th:field="*{amount}" class="form-control" type="text"
						   placeholder="Количество">
				</div>

				<div class="form-group">
					<label for="price" class="col-form-label">Цена</label>
					<input id="price" name="price" th:field="*{price}" class="form-control" type="text"
						   placeholder="Цена">
				</div>
			</div>
			<div class="btn-bar">
				<input type="submit" class="btn btn-primary text-light" value="Изменить">
				<a
						th:href="@{/checks/{checkId}/positions/{posId}/save(checkId=${position.check.id},checkId=${position.id})}"
						class="btn btn-success text-light">Отмена</a>
			</div>
		</form>

	</div>
</div>


<script src="../static/js/checks.js" th:src="@{/js/checks.js}"></script>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	  integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
		integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
		crossorigin="anonymous"></script>
</body>
</html>